
pandas==1.4.4
docx2txt==0.8
PyPDF2==3.0.1
spacy==3.6.0
nltk==3.7
nltk.download('punkt')
scikit-learn==1.3.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
